* {
  padding: 0;
  margin: 0;
  font-family: inherit;
  align-items: center;
}
body {
  background: url("https://www.innovia.com/hubfs/currency_social.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arvo;
  font-size: large;
  height: 100%;
  width: 100%;
  justify-content: center;
}
#resultCurrency {
  font-weight: bolder;
  font-size: xx-large;
  color: white;
  text-shadow: 1px 1px 1px black;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 14px;
  margin: 0 auto;
}
.logo {
  width: 60px;
  height: 60px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANgAAADpCAMAAABx2AnXAAAA0lBMVEX///9tbnKoqa0AAAAREiRwcXXa2tutrrLX19fz8/Nyc3fq6uptbW0ODyLw8PDb29tnaGxbW1uXmJtfXmH5+fk7PD/JyclMTE6Li49/gIOJiYhzc3MAAByzs7MzMzO8vLwAABcYGBi3t7cAABjGxsZlZWWnp6dWVlZGRkafn586OjqTk5MkJCQODg4qKiwyMjIdHR17fH8AAA6UlJqJiZEUExVISEweHy1+f4cpKjhBQUwAAB9MTFZZWWMmJyYdHCBiY2tOT1c1N0QnKDcaGytdXWeKFcQ8AAAZ2UlEQVR4nO1dC3uiutYuphSLFxBUvFtbFVBRrNrb6cV2Zv7/Xzq5oCJJkCDO9+39nPXsPdOpLcnLuq+sJFdXl6RqOd8fu612xel9+oPNZuDPJ9aoPXXHQ+22esmR85d6cFnrtooTEEeeU2z1tfJlxr+5xEO1bnuyicUUIt9p3mvZzyFzYIXxKCmkMBXHhWznkakolofLBT3nr9l8Uas5lmXZNvzjqTZZzGcMhk5a9dvs5pIdsGp/NDie6WZRs0xdlyRZlcOkqrIk6bpp1Rbe8W/Miv2sppMVsHrxaIaDiWViEBKfyOem1TvmXjubKWWiY9p0Fn7tNVNXYyFF8Km6XQs/YOFmoG8ZvJ5h5TAnb2LryTGF0Em61QthG9X/z4F1D+/aq5lSGlQ7zklmyO/17s+b13miWHb32r+pmfEqlQybfbAn/vic0OQcYLfT/STm9hm8OsamW/5eW9300M4AZuzFppZKr/jYzL26bcZpZ5dax7o7bg0sKUNUhFTd2T3+M6VnS8mx+k7NfTt7WIhkydpBs1JFkqmAlXfh4OZCsAJoO4FcplC1NG9jvBdC9WKwMDR5L5Di8iiuY9ruRT5djlt7aHpt57FFgxFhYDtbONEvDotAmwcDdsXmKahjhcBo+Kb6N2AhUs1AHk2hXFsMWHdnqAQmhtIUFWYpuokJfiGp6onA//gBUiCPg6HAVIVEsR24loRSiCDptlWbRbIuGFXOapatq0lzANkMMr3pRYBpQbhrJZFCFNI6KJ0e9Oyle9+v32iF8u1tuaDl6/2u27ZwTNiz9GShmBwwzUksjslFsR/Eb/pJXDDBMmtf0L4U3brGdUFlbTgdwdjJhznBabehmiQdHSTlRGJg0yAsTIAKRbHOtJ7k5VbL/Rbk6+f3SWyytBCyjklfQJBMVuLZBWPzJw/4y6FQqHB7X/TA18mQUw0caCtDYGUnEMPYsWE2NQOLVpq4ulpfDsC8Eo9tZ/iLmQErECfZix1XRVFCu546g6oOYQTqxA4h68R+WQkGSaJjWhBCxYghzKFmoHdWygvp1vBBL1YqZBIgfJ7W3wRBcJ3gsvm4ZORoKpmUzfoOmJsx0FSiFP7J0PH0bAJcMaOplQFoZ1Z+z1cgtJiXaBNkp8Y7CYzg8vgCIptfoJhp4T1vg3nceORNnxjylI4RXD53HFnvgUrmiyV1BzpM7pCBcYwf9cScdrh4Y8hPYHJ2bZNF9wO+UgfI4vUsnmPEHvpcqRh5IHUZ6QRVW3y3KeskvIqzjbE6ViBumQdLcsDoQuuRiGCqbnGRYZ4tYtxLHMfKn3FyKOubFKUIIRpzjUhgQWz+78bpmEPsIRsXjNwqF2RXMLsJ4Fj+ABk/uooBVonDJc0FtKt6G6HkEUqLl08EyLgRMV/HpjF+GWrvp0BRYQki5CT/3SG0Xew5fONH8RZluMDuiRAzn6naoCISFlasxhHpQOCXCz3e233CU+Qg4IkiMfRsqyQ7IsUHBMxUciFSmiLArq6KvPeLI+IBe0WeI1BVnB9M2LhqXP5fBtiVAZ7YM5nxTSOHkUW+A5PnPO5fDNhVH9SYyIg7Y4oPe47jmMB3czplyBwYDO0WrMkEppEV1DFFUYsxiJueeCR/PrCrPJgzkeE6iM9QMyYwvKDoMD3jZp6ieyYDYPBls5HhqsWI/nkWsBZWMCa/vF6a7D8LYDBwZSKTNmxvxtCxPBZEZsTh91JFUZkAgzzrMZAFakbNiwHM4Xkwee6ly5SzAQbfOMs2qjVm0EiLIl4AmzMUTJ6cSsd5lBEwaBuZ7xuvWEQTDQpYgRf6qo6w/9pRVsBgnMeIQQJhjPwoNdcKRxBlO332lRkwGJkznCtZionE+VFgQ55F1AXjwzDRwPKFlLXVIqCnBo01XdyJBMHVBc8isnxFUrKPgeUaWHY8qz29F+517jHeOqk1Vo5+LqJjOJaq0ZZDncfVF+Ko0F86QD8GlnMNw2gsSSefs+yL2KQCc3o4Gj5ayT0GVsVvkmYXjFxS1Q7LYwctqTVyDFIgIe4VoYZ8TpPbpT4r1sP2YxH+seMHtjiWwxRtRsA0rACv0iDz5xP8vCHNgTdNyrcWQ1WI/QhP8ohjZZy4MRTMM8VhdRfAauROoNqDM2BuZSfsCpgzYitcaZzxgLXY1QDo24UjqfsZ0N1EoPbYVhaYJBpHY8xRxvFSqL4UBoZ9s0+rpinswTQHmDkRWARbM2Fo47JsPg6YDhYurGNTThbmJVobPRq4JsStHbBR0urVhBZGUto5aFkIWJXtm+FviKVgVRssU8CCwL6SxgAaqDDeP2LZ4UcOP+2yNUwXtIgamKVhFySXmeMzqUkLI9GyvdKEOIaCZHphRZ0LVDfRA4GTChVkWCN5CHnLqFvhys5+sgdgfbYPM5O/RkTQYqVjFwRWEXiFYwbLauH66cEq4rIIbeoHQjFiIT2uXG7mCow06VHmG/uydhQYrkw5UWAwvBQJ5KozJz0uVyjfG9LxhzoPFQn2wFrMsF4etHlPZtFokxoW8mJCcfaEqjSSjDNw0ruXhG09/aNiDOsC4wxgtlhiVAdbSs2Q/ZuQj3cc6zNtvbxZCgxVBlJ6QcwpGxEVg2TRfHg6JJw7YKgisKHegCmUrbS8E7iUHTE/Fc2MGFqmH2oEATAc11PFLdUXkY4CaMQAg2iMpowag0e6vGy4uUjgryx90VR2Qq0GEfOBPwx0rMsME0dCdqo5j4HlovKf79gVSLaDxh9YesM9gFMs4dpDl/JlpEZQDwFD39hEHYNcm4iMExchjgBoDgv7mLNaLuTHywkAPdkIsCkpcllGPIGANdFnRBQLTCcmFiXeAy67Vh57qbA6bA3Apoj5ZqQoPrQ8ynwgWcDlmZtgUpCi1lO2hMp/tsVj2CquJ1Sb9kANZtrLFLXGAjCjc/7ehVVEFNuskoD81RQYpAyaPI6BE04+34ZqUBNN+hBZdDEfAZvugFU9lk3UhUxHnieJijk4+cu3rvDeFUwM84Fk0d4BwwtHFFcdIdPhbniSmGwpXqzxO6AysKOzfgriRaxjLmsdQhWraRd5Yf1ULAQUoxFVIzCDdBNzzGEtHIlJ4pUdrfbuaHlaEtPTPZ1oDUjwgSePQEYzUvnJFxmh+snxYookJNGCVKbiWxWtPvhEFOssFVMHyXYkBHQLmHXss9aMkpATDatIH8Et5hheiYhyVAciu7UgsBXHdhhp10ET0ZiSRZOsTyB3jyL7WUTFYNImNMAtmHKAKQuhXFWQNCrElz3syRDHeox4Sq7FdG8yiCuKaDVMiPeCRMWLKvFk+SBQpHLMjdgCZtVr8vyYIpYkCFI7avCxJ1sgUcwzqx2Ck6lOZG5sr6RbhUpGVB2OpC4FLbAdtAoKLrBE1pmPkbVB8VL9w7SS4TQ6r5HG1mjJXnbE6r8wzazFpc+GDwQrGkmJEVXhWpVGjCLlDeaipqwPYgseigq8y8ijRdk9dB5IswBjBoZRVIV3QGhcRxYgg1n0ZpzhwVM7oq0HsvIjDRpqllEUq9gjWhRP1ahcmCy1MvfWYxB1wSj0neSJtR9RtkN4AgY3bwlxbekDO+PtFfWo4SNBVZ1EihHLItsb4QEKfBcdgqY04LDTLPdlaVSYaxJgXUYyJj8tTj8xSpU4uxiWyPYMWN3MzH/Vi+qRThZtUZYZ7deWe5XTT4ySloRlhG0rM4sztQL6jAZVOql7oCX1qGFRfaGcJaC2n7h0ryitGphlYyQdqlqDummXuEK1iBgWcWuPqAxOGcYjbIaejZEsUuUB1FlVJP45ajFF90IQuo+t3tPQcksPtM7m2nQQnT2K70e44EExM2WmsQSuADAkkc0NmJ5Z7KEdGUlcFozAQ7CQcyDbEwKGuQZm5+Vr3agjw2UP58pnNAvo6br4UPYyEEQGoZlgdA7T7qOJi4piqt6Vx4ioUgQeO3KAIbqsqRgz8QjuQEMqI0N9EZ8cYKlVujoC3FyaTyYwUgOrU3FTDVfgWDGweU71dgpick4e05qnVi5EgW0IMCkKLD0uNNJgJS6OIEWwEwPMy55j0FMXxdsVFTdtn/hfBIbb99VkXbNhnqWTRjawAcd4nB18w9h6KcY1ZZru4AKqLSIwHgOmHzs/hrttAU8Vgqaoqdxnn/JjxNzPsnTQR1Q2ADBFvJoyEa2NIWI76AmzwK2f4zDDpCxAr5mcbW6ayio7pLJwnyIdBGd32DdMi+xGQmyKlMLPuB4rCK5cofNIo02NcpY16duuDTxzmsxIphi49RWd/QynLU3GOq3qZVu3LY8nAEgJeqCVUU/44SOqC+4LoE5TtHXxMyqlM5F2vkRUMObAOS2SYm2mmCbRVWbc9dzCaxJfEchyzcoaGKT6CMxPBcjKTLja4jOLOS5uN6LKb9bnBYBBti2BH189UHRRi18GFYkBrM9cHpPt9HnLiWksgROra4Zo0HNDrSMFBdMyq2cgGw/NpLwTX/IRdaFDquSBHNggTxYlqIXcrDw0i1owQOYDmwsaZIMChiIq6wZaFYaHFuw3EqT7GGSKI2g9RtGN+jIKPNAhe9hDU2tMZ2yiPU1dvjSKdqnT1l5GheCWdoU99IZaikl1DERiavtcjiXeREaoTLftId1CtxJ12Y05l+ynuapyKz6KPDv96yGqU1PHRlHTON2KGYbBTFryNsEoS0/oQdPobgFsFL0yBFbwGGZR/kqz3pKc+tyGVEFgNmUeajgbQ5GZw2obcFIs/QmQxgUmKIrUpkZ1gNdaEDDc6hztw8yg7BFHBX4LsZDxoCo5pN15jPsVu+yeozOvuoknPscsoXbuKbUNAtuOPAamsWqm6lzckwkY0jFvWUapCYUGM6p9BXc7h1pno7EHjINFPVkBTBIvCNncLY9CDTx0ywDu6rMCYCNGN1WKxb86qAAnmZfIc/s2XaHw240GiiTLNIL29DFLydSZaGG2NVFcGwwSLJlXBzyGKU1PRFDohfVAxQiwAivAlyxPMCdzdCWnuPrpo8YLE35EJWQ7aEkke4aru70tE0YcLBx8BG3BSq5ZA7NlDLY++OThyilCxnhK9Vni1jf0bgiwFitclBdiCzv7YEJRcuh2RnvMrMv0J8Dk42oKuU+f2r8edOXstlnhfirqXALBBdtWqOUIYmvY8OVNlu5QK5SriH1oN5wL7ZQdUxpQeiKKTXtnYuwLe2D4AEz6/EuxbNOL7KlVFKOhW3jXpL+YTCaoL3JmxRe8xbbH0TtbVJ8Y+/1WRnwjCyWvQjvjyqxOTFz+NRrNpaqqy4aRO1FXVByRpvgCVZ8ikjgOARuygg/IMgFnyd/KuNsnHIsJ/1hDbHsy5cQOkrjfuQ4YHVWSKrKs007W1RcLzBMpQN969N5TH+xOvtht8G4yyqZiy0nzuNJTMlxiXRiMky9Chw3sgOWZPlpeJC51a+ecM0BwNYVqflWPsvXkKg3ycvauBn2PPn8lOcvu49vTE+AyxIwwg2E4FQsilz0wl1n5kBdJt7W1n86VRCB2qhd9uMyuyxnT3gqVmeYDsixZXFX9PE/FFDfu8HoGTWmGqaFTL0JHy7SZebRcS7YSVxDsVIziMoDYwlWZebwPXj4idAjnsPmgtuVDuU3UfDE+4+wV7MAET5drMo73mR9Mx9HxTQ7T4kPBTRKWFrkb8pOQKbpUoDFOPMMM22+2D3l6HH0wjin3ksSl1NmQAuyazoSTddYZab191IEofKgdYiV9aqRsJlkWboNeQ7B5KoCVs8U3l3UZRyziMPFQgLo5+nEmy9TenH40RdoIfAk2T+VI3+yn8FJcgWE5cDtOiAVhZpCTWalXAe1HonK31hJoVcGolJUNFik6SkbRlpUdw0KZ8ZGUddmGUbYT9ijc3tswLmvmEkTyCjkE00qz9NGlNk8FbUbhaR4fzvrJ9GVQLxMvFKA2HPBlNqNn/UQEMNc0H8Eg8bGlR1RgWTgzwrDIOcF9VukUC6NA7ahan6K7nB2zabg5ZiIGP/ZsN+3yvcM6KRifpxt+YkTGJsyIEVlGMVUoa90m3rY76zn2KLJLyQCu8LnHB2oxrADZInz08iPAcFUnuj1fwm46xZXY1Zv+eLo0/UgKKtzKESbmMcF4dfa49BSVB3z9B+uI8sUg9aL0lAKWfhlYY0V9pEp6HLxEzR05FZ5mNgxAxKLvELWyA1b9ZN2/sMWVsOMXT9nxKc9+6EDk0KMwZQjMZh6ejo15xHHQDsrH9oOBLPU2jeyAFVkHu5P8MipPtEmo84QRmp50faeZAZsyX7hOW44r5vUmOONknL2OXk2qHomsgLlMXMSFUQ1YjFip6nMso6Q+pdoJmBEwlzknUiOl029WEIgTM+ZVcWotDbJsgI3ZV4CYTEHkXPqEhZF9Y08aZJkAY+MKLtphVC/Y8QT/ciRV+PKxbIBN2feFkqCe1d/ABkZuEWLe0wb1THRrTQbAWuzJEAVjXhTKSbRcrpoh2yhYeTkfWJF9Z1jM9WPcywtH+FWwgKHHiZ2FeC6w8oR1DY2082Ds18yL2as9rgFByJLdkXAAdkSCwG68Aef+0wFPwWKABbfGsfw0ukbzyxOowLSAdUSO4HHRCyaq4E413kVv/CyL3JjMvg4RLdgkV7T6qHhMTYEMqA0szqWuNY4HIxRTpcH9OrwLflUb2BdtriWkLXh3opNrx/irXHF5cYsYfc4L0zeXbfxD5II55yJvlVx7yvc8sQk/TqdZ91IQaA4YXWijCKGCw78Q2ooxiJjiC4bkRnqOMEiq6V3wULeqwb/CWyW44jLfeGDVSSwySYLv9EKbYOo9Lrt2uGK96YkS720vHpmsz8DyAvJYMEGPo117OYxfUTtVVAuQcW+sx/LoZgyt0AI+5+ZuaX9d8okOtpNF+dt5nNVH40gWGLgZbhgpt3j3UJPxiJ0/VTM7vdoQ8IzjqQm0J+AZGUErN1HvU8xgvQRyeHVaFCFViUj3uGMRaHgD0LmULwLPUvmwyNFMIMFxC4kK18Tqc40vgWZvgN0/77SMrgNmlRhuQVs1OGnnA0q28IVrBWAzinuVsmQuwKCZ+hzWOgwHarocOwR5w4nC1ITzmIITJiTAZg2A18oL861aX0KJsGNR7e6rYl0lzKCkayhd8sxJ7MhwbFV/GgC/fS8QIGvdEWo91WNVC4khsc8Ju7sSLw6RMgjw4xQtYBvul1207xMYk3x39Al/1o4XQUTIXyJaJHxlyS3ZrZNIHDE2WTWfkPnqNd1h4ZYhmdVbrY/OWYSJImLV6UdKxHslL0qI6DpJY8D8JNMwOFXWK7U5Kvv5zqjdbBljRO60tWxXHPT2N/MnMxkoyC6fjJ18K7GQEeuDgGnccIdCJ0m6aT/VevOvDfndzde8V3uyRzrkaxJM6Ck7q+EJzFZsAbZMfHW8S2NMjCaRXzcHgRiKWFvRlWU3YJoT50ezJFkPtEswXxf2pxpJ0cCAH/BniuuJGEPhCkuKQMEI3uCMn39mhUq2A80Uz9RTNDlcFYLIBswvCk2WzVkwUIqz19MAg+YxUGew4OeD55JaCSIN0EtzUkXamDUIHjHXLsA2Wa7suJXyPPnUwXhhuRt4FpcXpoMlWf7u6WlPpU0nipi04m7wwZOenUTCOLrm7Z68TF1tPgMY7ird0aKSiUTCh3zvZRC0zyiin5nOa+39LEDNPFckVcmcHJ7XPGtt4OyLRwrTvdyAAcR2Iqvi80rV7dpg/yjfOHPJI4MbVard3uE1e4uEacgRKIjKmh8eknSbeBydpWN70pp+aFqbmpU4dkc/pluhNwOtbBblrnN1bE/VYTE8OZhs1WyYbalcfPADmLGZdm3uHf3iqc3hSSkbjmG67R9jg3I5mNcsiE9SEZF8BX+Jk7TJbOBFfqGd6kI8JmV8a1G9NQFM8gb+5xzSzKfQBDSZZnrGV/aLQFp/6bCnzierOcx63fcyq1vlujE6DQeT33brlzjEJkMdoyjfN4pOb8YUPW/Ws9pu/2JH50FgN5ciTcvX6/Vh1502ltD5zr++Nl9fs0XNLjZbU7cLP6vfaBcbvH8lqg+i9Hh3d/fQKZVK14jg353OA/zW46XHvbr+l9L/gP3TKABWCv6/Dv19fd3pXJcO/4JflTqHf/4/JwKs9Fa6Lr3+Jl//7D67+/i4e/3ZQfn9Xir9+vj5pyAjwDrb7cPdGhqr64c70PjdgYasdIcP6JANAA1YqQPAax6An/XbPwtY6Xl99/zysnoBLyv1ZfW6Wr28Gd833wBIhY9VPv/6dnPzPnyDf/9djkFFKB3+3P+N1KKEvyhh5XiAPgR7lNJv+I0wsOu71TUMwu9UeQtA4z+Na6CqH49v9ZumZPyqg60y/AGvhfxDqfQ3cZV+tm/fvzvXzz8Pvzql9/XHz8Prw/XzFkrYa+cX/P7vzp934339rHTWL9v1T+7nRf5ZbzthYJ3tx/pjtd2+vHXu1iXj8W67fu88gs7Ni/F+D37u64+PENjzX5bDh/X6PbdcvefeoDS9r9+Nray+fBjqI0zyVDW3Xn+8PBrvLx+rN3n1soafbdcfOekhDKxUyr08r0uvv1al5z9b6c/16s93x5Ab9beb1xt5qK7uX97q7zePfxmYtPp+ecu9rT+W65fXP6uXlz/r9fcazvRjvV2vPj62L3e5N3Wb+1mvrlfv29UHVKT1EbDrjvTceW2opV8N9XEL9PXz62vp22g+3P15/89q+/gorV4loP510/H74e338w/8r/QLWm74/x3+191b563z+vv3z/Pz+/Xb3fvr6/Mv+M3S6yv85PoI2DVUwtLDw3Xp7uH64bpzh7SpA20j/H7pDv7sw10JfvDXTWJgJLDZKEX/Vdp/ffhi74X/7ZHHv4/+B+yfRv8F2G5mwPPRhBQAAAAASUVORK5CYII");
  background-size: cover;
  border-radius: 50%;
  opacity: 50;
}

#title {
  align-self: center;
  justify-self: center;
  color: beige;
  text-shadow: 1px 1px 1px black;
  font-size: xxx-large;
  font-weight: bolder;
  width: auto;
  padding: 20px 20px;
}
input {
  border: solid black 1px;
  width: auto;
  height: 42px;
  text-align: center;
  font-size: 100%;
  font-weight: bold;
}
#result {
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 300%;
  font-weight: 700;
  text-shadow: 1px 1px 1px black;
}
#currencySelect {
  min-width: 200px;
  padding: 14px;
  text-align-last: center;
}
select {
  flex-direction: row;
  width: 100%;
  padding: 11px;
  font-weight: bold;
}

.option {
  justify-content: center;
  align-self: flex-start;
}
span {
  margin: 0px 20px;
  display: flex;
  font-size: xx-large;
  color: white;
  text-shadow: 1px 1px 1px black;
}
button {
  width: auto;
  height: 42px;
  font-weight: bold;
  font-size: 100%;
  padding: 4px;
}
@media screen and (min-width: 960px) {
  .container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 14px;
    margin: 0 auto;
    margin-top: 4em;
  }
}
